<div class="container-fluid my-3">

  <p-card>
    <p-header>
      <div class="d-flex align-items-center justify-content-between container-card-header">
        <h3>Cadastro de Item</h3>
        <span *ngIf="itemVencido()" class="badge badge-warning">Produto Vencido</span>
      </div>
    </p-header>

    <form [formGroup]="form"
          (ngSubmit)="saveItem()">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="codItem">Cód</label>
            <input type="number"
                   id="codItem"
                   name="codItem"
                   class="form-control"
                   formControlName="id"
                   disabled
                   pInputText>
          </div>
        </div>

        <div class="col-md-10">
          <div class="form-group">
            <label for="nomeItem">Nome</label>
            <span class="field-required">*</span>
            <input type="text"
                   id="nomeItem"
                   name="nomeItem"
                   maxlength="50"
                   class="form-control"
                   formControlName="nome"
                   pInputText>
            <app-form-error [form]="form"
                            inputName="nome"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="unidadeMedidaItem">Unidade de Medida</label>
            <span class="field-required">*</span>
            <p-dropdown id="unidadeMedidaItem"
                        [options]="unidadeMedidaDropdown"
                        [style]="{width: '100%'}"
                        (onChange)="updateAddonInputQtde()"
                        formControlName="unidadeMedida"
                        name="unidadeMedidaItem">
            </p-dropdown>
            <app-form-error [form]="form"
                            inputName="unidadeMedida"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="qtdeItem">Quantidade</label>
            <div class="p-inputgroup">
              <input type="text"
                     id="qtdeItem"
                     name="qtdeItem"
                     #inputQtde
                     (keydown)="qtdeKeyDown($event)"
                     class="form-control"
                     formControlName="qtde"
                     pInputText>
              <span *ngIf="qtdeAddon != null" class="p-inputgroup-addon p-0">{{ qtdeAddon }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="precoItem">Preço</label>
            <span class="field-required">*</span>
            <input type="text"
                   id="precoItem"
                   name="precoItem"
                   class="form-control"
                   formControlName="preco"
                   currencyMask
                   pInputText>
            <app-form-error [form]="form"
                            inputName="preco"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group d-flex flex-column">
            <div>
              <label for="isPerecivelItem">Produto Perecível</label>
              <span class="field-required">*</span>
            </div>
            <p-triStateCheckbox name="isPerecivelItem"
                                id="isPerecivelItem"
                                (onChange)="setDtValidadeRequired()"
                                [style]="{width: '100%'}"
                                formControlName="isPerecivel">
            </p-triStateCheckbox>
            <app-form-error [form]="form"
                            inputName="isPerecivel"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dtFabricaoItem">Dt Fabricação</label>
            <span class="field-required">*</span>
            <p-calendar inputId="basic"
                        [style]="{width: '100%'}"
                        [locale]="localePt"
                        [maxDate]="maxDate"
                        formControlName="dtFabricacao"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        id="dtFabricaoItem"
                        name="dtFabricaoItem"></p-calendar>
            <app-form-error [form]="form"
                            inputName="dtFabricacao"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dtValidadeItem">Data de Validade</label>
            <span *ngIf="form.get('isPerecivel').value === true" class="field-required">*</span>
            <p-calendar inputId="basic"
                        [style]="{width: '100%'}"
                        [locale]="localePt"
                        (onSelect)="setMaxDateFabricacao()"
                        formControlName="dtValidade"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        id="dtValidadeItem"
                        name="dtValidadeItem"></p-calendar>
            <app-form-error [form]="form"
                            inputName="dtValidade"
                            validationMessage="Campo obrigatório"></app-form-error>
          </div>
        </div>
      </div>

      <p-footer>
        <div class="row text-end">
          <div class="col-md-12">
            <app-cancel (onClick)="backToList()" class="mr-2"></app-cancel>
            <app-save typeButton="submit"></app-save>
          </div>
        </div>
      </p-footer>
    </form>
  </p-card>
</div>
