<section>
  <div class="ui-grid" style="max-height: 100vh">
    <div class="ui-grid-col-12" style="height: 50px">
      <app-toolbar></app-toolbar>
    </div>
    <div class="row d-flex" style="width: 100%; height: calc(100vh - 50px);">
      <app-sidenav></app-sidenav>
      <div class="ui-grid-col-12 w-100" id="content" style="margin-left: 20px">
        <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)', padding: '0px'}"
                       styleClass="scrool-table-dash">
          <router-outlet></router-outlet>
        </p-scrollPanel>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>
<p-confirmDialog [closeOnEscape]="true"
                 [closable]="true"
                 icon="pi pi-exclamation-triangle"
                 header="Confirmação"
                 acceptLabel="Sim"
                 rejectLabel="Não">
</p-confirmDialog>
